@tailwind base;
@tailwind components;
@tailwind utilities;


/* DEFAULT */

/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
} */

/* Northern Lights */
:root {
  --background: 240 9.0909% 97.8431%;
  --foreground: 0 0% 20%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 20%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 20%;
  --primary: 139.6552 52.7273% 43.1373%;
  --primary-foreground: 0 0% 100%;
  --secondary: 218.5401 79.1908% 66.0784%;
  --secondary-foreground: 0 0% 100%;
  --muted: 50.4000 26.8817% 81.7647%;
  --muted-foreground: 0 0% 43.1373%;
  --accent: 189.6350 81.0651% 66.8627%;
  --accent-foreground: 0 0% 20%;
  --destructive: 0 84.2365% 60.1961%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 83.1373%;
  --input: 0 0% 83.1373%;
  --ring: 139.6552 52.7273% 43.1373%;
  --chart-1: 139.6552 52.7273% 43.1373%;
  --chart-2: 218.5401 79.1908% 66.0784%;
  --chart-3: 189.6350 81.0651% 66.8627%;
  --chart-4: 207.2727 44% 49.0196%;
  --chart-5: 138.8710 70.4545% 34.5098%;
  --sidebar: 240 9.0909% 97.8431%;
  --sidebar-foreground: 0 0% 20%;
  --sidebar-primary: 139.6552 52.7273% 43.1373%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 189.6350 81.0651% 66.8627%;
  --sidebar-accent-foreground: 0 0% 20%;
  --sidebar-border: 0 0% 83.1373%;
  --sidebar-ring: 139.6552 52.7273% 43.1373%;
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.dark {
  --background: 220.0000 14.7541% 11.9608%;
  --foreground: 0 0% 89.8039%;
  --card: 197.1429 6.9307% 19.8039%;
  --card-foreground: 0 0% 89.8039%;
  --popover: 197.1429 6.9307% 19.8039%;
  --popover-foreground: 0 0% 89.8039%;
  --primary: 139.6552 52.7273% 43.1373%;
  --primary-foreground: 0 0% 100%;
  --secondary: 207.2727 44% 49.0196%;
  --secondary-foreground: 0 0% 89.8039%;
  --muted: 0 0% 26.6667%;
  --muted-foreground: 0 0% 63.9216%;
  --accent: 218.5401 79.1908% 66.0784%;
  --accent-foreground: 0 0% 89.8039%;
  --destructive: 0 84.2365% 60.1961%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 26.6667%;
  --input: 0 0% 26.6667%;
  --ring: 139.6552 52.7273% 43.1373%;
  --chart-1: 139.6552 52.7273% 43.1373%;
  --chart-2: 207.2727 44% 49.0196%;
  --chart-3: 218.5401 79.1908% 66.0784%;
  --chart-4: 189.6350 81.0651% 66.8627%;
  --chart-5: 138.8710 70.4545% 34.5098%;
  --sidebar: 220.0000 14.7541% 11.9608%;
  --sidebar-foreground: 0 0% 89.8039%;
  --sidebar-primary: 139.6552 52.7273% 43.1373%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 218.5401 79.1908% 66.0784%;
  --sidebar-accent-foreground: 0 0% 89.8039%;
  --sidebar-border: 0 0% 26.6667%;
  --sidebar-ring: 139.6552 52.7273% 43.1373%;
  --font-sans: Plus Jakarta Sans, sans-serif;
  --font-serif: Source Serif 4, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}


/* STARRY NiGHT */

/* :root {
  --background: 216 33.3333% 97.0588%;
  --foreground: 224 36.5854% 16.0784%;
  --card: 212 36.5854% 91.9608%;
  --card-foreground: 224 36.5854% 16.0784%;
  --popover: 50.4000 100.0000% 95.0980%;
  --popover-foreground: 224 36.5854% 16.0784%;
  --primary: 220.5882 46.7890% 42.7451%;
  --primary-foreground: 50.4000 100.0000% 95.0980%;
  --secondary: 38.6364 89.1892% 70.9804%;
  --secondary-foreground: 224 36.5854% 16.0784%;
  --muted: 60 10.3448% 88.6275%;
  --muted-foreground: 220.5882 46.7890% 42.7451%;
  --accent: 201.6867 40.0966% 59.4118%;
  --accent-foreground: 50.4000 100.0000% 95.0980%;
  --destructive: 292.9412 22.0779% 15.0980%;
  --destructive-foreground: 50.4000 100.0000% 95.0980%;
  --border: 211.7647 12.0567% 72.3529%;
  --input: 201.6867 40.0966% 59.4118%;
  --ring: 38.6364 89.1892% 70.9804%;
  --chart-1: 220.5882 46.7890% 42.7451%;
  --chart-2: 38.6364 89.1892% 70.9804%;
  --chart-3: 201.6867 40.0966% 59.4118%;
  --chart-4: 211.7647 12.0567% 72.3529%;
  --chart-5: 292.9412 22.0779% 15.0980%;
  --sidebar: 212 36.5854% 91.9608%;
  --sidebar-foreground: 224 36.5854% 16.0784%;
  --sidebar-primary: 220.5882 46.7890% 42.7451%;
  --sidebar-primary-foreground: 50.4000 100.0000% 95.0980%;
  --sidebar-accent: 38.6364 89.1892% 70.9804%;
  --sidebar-accent-foreground: 224 36.5854% 16.0784%;
  --sidebar-border: 211.7647 12.0567% 72.3529%;
  --sidebar-ring: 38.6364 89.1892% 70.9804%;
  --font-sans: Libre Baskerville, serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.dark {
  --background: 230 20.0000% 11.7647%;
  --foreground: 221.5385 35.1351% 92.7451%;
  --card: 237.3913 24.7312% 18.2353%;
  --card-foreground: 221.5385 35.1351% 92.7451%;
  --popover: 237.3913 24.7312% 18.2353%;
  --popover-foreground: 47.8431 100.0000% 70%;
  --primary: 220.5882 46.7890% 42.7451%;
  --primary-foreground: 47.8431 100.0000% 70%;
  --secondary: 47.8431 100.0000% 70%;
  --secondary-foreground: 237.3913 24.7312% 18.2353%;
  --muted: 237.3913 24.7312% 18.2353%;
  --muted-foreground: 218.4615 17.1806% 55.4902%;
  --accent: 220.3846 63.4146% 83.9216%;
  --accent-foreground: 230 20.0000% 11.7647%;
  --destructive: 336.2791 36.7521% 45.8824%;
  --destructive-foreground: 47.8431 100.0000% 70%;
  --border: 236.4706 15.8879% 20.9804%;
  --input: 220.5882 46.7890% 42.7451%;
  --ring: 47.8431 100.0000% 70%;
  --chart-1: 220.5882 46.7890% 42.7451%;
  --chart-2: 47.8431 100.0000% 70%;
  --chart-3: 201.6867 40.0966% 59.4118%;
  --chart-4: 218.4615 17.1806% 55.4902%;
  --chart-5: 336.2791 36.7521% 45.8824%;
  --sidebar: 237.3913 24.7312% 18.2353%;
  --sidebar-foreground: 221.5385 35.1351% 92.7451%;
  --sidebar-primary: 220.5882 46.7890% 42.7451%;
  --sidebar-primary-foreground: 47.8431 100.0000% 70%;
  --sidebar-accent: 47.8431 100.0000% 70%;
  --sidebar-accent-foreground: 237.3913 24.7312% 18.2353%;
  --sidebar-border: 236.4706 15.8879% 20.9804%;
  --sidebar-ring: 47.8431 100.0000% 70%;
  --font-sans: Libre Baskerville, serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
} */

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
